/* appBar {
    border-radius: 15px;
    margin: 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 2px solid black; */
    /* [theme.breakpoints.down('xs')]: {
      width: '90%',
    }, */
    /* @media screen {
        width: 90%
    }
  } */
  /* wrapper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    width: '100%';
  } */
  body{
      width:100%;
  }
  .appBar{
      border-radius: 15px;
      margin: 30px 200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: fit-content;
      border: 2px solid black;

      @media xs{
          width:90%
      }
  }

  .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  VideoPlayer{
    align-items: center;
    margin-bottom: 10px;
  }